<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodordering2">

    <application
        android:allowBackup="true"
        android:banner="@drawable/splash"
        android:icon="@drawable/splash_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.AddNewFood"></activity>
        <activity android:name=".view.AdminManageActivity" />

        <uses-library
            android:name="android.test.runner"
            android:required="false" />
        <uses-library
            android:name="android.test.base"
            android:required="false" />
        <uses-library
            android:name="android.test.mock"
            android:required="false" />

        <activity android:name=".view.Registration01" />
        <activity android:name=".view.OrderDetails" />
        <activity android:name=".view.Feedback" />
        <activity android:name=".view.Payment" />
        <activity android:name=".view.FoodDetails" />
        <activity android:name=".view.SpalshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.Login01" />
    </application>

</manifest>